* {
	box-sizing: border-box;
}
body {
	background-color: rgb(119, 208, 119);
	font-family: "Roboto", sans-serif;
	color: aliceblue;
}

nav {
	width: 1280px;
	height: 50px;
	background-color: #4e4e4e;
	display: flex;
}
.container {
	width: 960px;
	margin: 0 auto;
	display: flex;
	gap: 200px;
	align-items: center;
}
nav .container .brand {
	display: flex;
}
nav .container .list-items {
	display: flex;
	gap: 30px;
}
