* {
	box-sizing: border-box;
	/* font-family: "Roboto", sans-serif; */
}

html{
	scroll-behavior: smooth;
}

body {
	background-color: rgb(240, 244, 240);
	font-family: "Roboto", sans-serif;
}
h2 {
	font-size: 36px;
	font-weight: 700;
}
h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}

section {
	margin: 50px 0;
}

section h2 {
	margin: 50px;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #cc912b;
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	
	
}

/* NIE DOTYKAĆ tego KONTENERA!!!!!!! */
.container {
	width: 960px;
	margin: 0 auto;
}

nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .container .brand {
	display: flex;
	color: #ffffff;
	padding: 10px auto 10px 94px;
	font-weight: 700;
	font-size: 18px;
}

nav .container .list-items {
	padding: 30px;
	display: flex;
	gap: 46px;
	font-weight: 400;
	font-size: 18px;
	color: #f1f1f1;
}

.go-button {
	cursor: pointer;
}

.disabled-button {
	cursor: not-allowed;
}

header {
	width: 100vw;
	height: calc(100vh-50px);
	position: relative;
}

header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.shadow .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 100px;
}

header h1 {
	width: 578px;
	font-weight: 700;
	font-size: 36px;
	color: #fff;
}

header p {
	position: absolute;
	width: 300px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	letter-spacing: 3px;
}

.cta-button {
	width: fit-content;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	padding: 10px 60px;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 700;
	transition: 1s;
}

.cta-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

main {
	background-color: #f1f1f1;
}

.experts-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.expert {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 100px;
}

.reversed {
	flex-direction: row-reverse;
}

.expert img {
	width: 25%;
	border-radius: 50%;
	border: 2px solid goldenrod;
	object-fit: cover;
	aspect-ratio: 1/1;
	margin: 50px;
}

sect