* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 20px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	background-color: ivory;
	color: #565151;
}
a {
	color: white;
}
h1 {
	font-size: 36px;
	font-weight: 800;
}

h2 {
	font-size: 32px;
	font-weight: 600;
	color: #565151;
}

h3 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
h4 {
	color: #405d78;
}

p {
	font-size: 22px;
	font-weight: 400;
}

section {
	margin: 50px 0;
}

section h2 {
	margin: 30px;
}

nav {
	width: 100%;
	height: 100px;
	background-color: goldenrod;
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
}

/* NIE DOTYKAĆ tego KONTENERA!!!!!!! */
.container {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
}

nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .container .brand {
	display: flex;
	color: #fff;
	padding: 10px auto 10px 94px;
	font-weight: 700;
	font-size: 26px;
}

nav .container .list-items {
	padding: 30px;
	display: flex;
	gap: 46px;
	font-weight: 400;
	font-size: 18px;
	color: white;
}

.go-button {
	cursor: pointer;
}

.disabled-button {
	cursor: not-allowed;
}

header {
	width: 100vw;
	height: calc(100vh-50px);
	position: relative;
}

header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.shadow .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 100px;
}

header h1 {
	font-weight: 700;
	font-size: 36px;
	color: #fff;
	padding-bottom: 50px;
}

.header-promiss {
	position: absolute;
	padding-bottom: 50px;
	font-weight: 700;
	font-size: 26px;
	color: #fff;
	letter-spacing: 3px;
}

.cta-button {
	width: fit-content;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	padding: 10px 60px;
	font-size: 26px;
	letter-spacing: 5px;
	font-weight: 700;
	transition: 1s;
}

.cta-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.experts-list {
	display: flex;
	flex-direction: column;
}

.expert {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.reversed {
	flex-direction: row-reverse;
}

.expert img {
	width: 25%;
	border-radius: 50%;
	border: 2px solid goldenrod;
	object-fit: cover;
	aspect-ratio: 1/1;
	margin: 50px;
}

.offer {
	background-color: #405d78;
}

.offer .container .offer-boxes {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 50px;
	justify-content: center;
}

.offer .container .offer-boxes div {
	width: 200px;
	height: 200px;
	background-color: rgb(255, 198, 55);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: #565151;
	/* transform: scale(1.05); */
}

.offer-boxes div:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.learning {
	text-align: center;
}

.offer h2 {
	color: ivory;
	padding: 50px;
	font-size: 30px;
}

footer {
	width: 100%;
	height: 70px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	color: #a0a5aa;
}

.footer-list {
	display: flex;
	gap: 40px;
}

.mentoring {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.learning {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.horse-riding {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.job {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.offer .container .offer-boxes .mentoring .circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: magenta;
	position: absolute;
	top: -15px;
	left: -15px;
}
